/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/drbd-*.tar.gz
/drbd.spec
/ID
/TODO
/tags
/Makefile

documentation/Makefile

./.filelist
./drbd_config.h

*.gcda
*.gcno
*.o

user/v9/config.h
user/v9/config.h.in
user/v9/drbd_strings.[ch]
user/v9/drbdadm
user/v9/drbdmeta
user/v9/drbdadm.exe
user/v9/drbdmeta.exe
user/v9/drbdmeta_scanner.c
user/v9/drbdsetup
user/v9/drbdsetup.exe
user/windrbd/windrbd.exe

user/v9/.*.d
user/v9/Makefile
user/v83/.*.d
user/v83/Makefile
user/v84/.*.d
user/v84/Makefile
user/windrbd/.*.d
user/windrbd/Makefile

documentation/v9/Makefile
documentation/v9/drbd.8
documentation/v9/drbd.conf.5
documentation/v9/drbdadm.8
documentation/v9/drbddisk.8
documentation/v9/drbdmeta.8
documentation/v9/drbdsetup.8
documentation/v9/manpage.links
documentation/v9/manpage.refs
documentation/v9/drbdsetup_*.xml
documentation/v9/drbd.conf.xml
documentation/v9/drbdsetup.xml

documentation/v84/*.xml
documentation/v84/*.8
documentation/v84/Makefile
