/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/drbd-*.tar.gz
/drbd.spec
/ID
/TODO
/tags
/Makefile

documentation/Makefile

./.filelist
./drbd_config.h

*.gcda
*.gcno
*.o

user/v9/config.h
user/v9/config.h.in
user/v9/drbd_strings.[ch]
user/v9/drbdadm
user/v9/drbdmeta
user/v9/drbdadm.exe
user/v9/drbdmeta.exe
user/v9/drbdmeta_scanner.c
user/v9/drbdsetup
user/v9/drbdsetup.exe
user/v9/test/drbdsetup_events2_instrumented
user/windrbd/windrbd.exe

user/v9/.*.d
user/v9/Makefile
user/v84/.*.d
user/v84/Makefile
user/windrbd/.*.d
user/windrbd/Makefile

tests/v84/drbdadm
tests/v9/drbdadm
tests/v9/drbdsetup_events2_instrumented

documentation/v9/*.8
documentation/v9/*.7
documentation/v9/*.5
documentation/v9/manpage.links
documentation/v9/manpage.refs
documentation/v9/drbdsetup_*.xml
documentation/v9/drbd.conf.xml
documentation/v9/drbdsetup.xml
documentation/v9/*.target.xml
documentation/v9/*.service.xml
documentation/v9/ocf_linbit_drbd*.xml
documentation/v9/*.pot

documentation/v84/drbdsetup_*.xml
documentation/v84/*.5
documentation/v84/*.8
documentation/v84/*.pot

documentation/common/Makefile_v84_com
documentation/common/Makefile_v9_com

documentation/ja/v84/*.xml
documentation/ja/v84/*.5
documentation/ja/v84/*.8

documentation/ja/v9/*.xml
documentation/ja/v9/*.xml.in
documentation/ja/v9/*.5
documentation/ja/v9/*.8
