Source: drbd-utils
Section: admin
Priority: extra
Maintainer: DRBD dev <drbd-dev@lists.linbit.com>
Uploaders: Philipp Reisner <philipp.reisner@linbit.com>,
           Lars Ellenberg <lars.ellenberg@linbit.com>
Build-Depends: bash-completion,
               debhelper (>= 7),
               docbook-xsl,
               flex,
               udev,
               xsltproc
Standards-Version: 3.9.5
Homepage: http://www.drbd.org/
Vcs-Browser: https://github.com/LINBIT/drbd-utils
Vcs-Git: https://github.com/LINBIT/drbd-utils.git

Package: drbd-utils
Architecture: linux-any
Depends: debconf (>= 0.5),
         mount,
         ${misc:Depends},
         ${shlibs:Depends}
Breaks: drbd8-utils (<< 2:8.9.0)
Replaces: drbd8-utils (<< 2:8.9.0)
Suggests: heartbeat
Description: RAID 1 over TCP/IP for Linux (user utilities)
 DRBD is a block device which is designed to build high availability
 clusters by providing a virtual shared device which keeps disks in
 nodes synchronised using TCP/IP. This simulates RAID 1 but avoiding
 the use of uncommon hardware (shared SCSI buses or Fibre Channel).
 It is currently limited to fail-over HA clusters.
 .
 This package contains the programs that will control the drbd kernel
 module provided in the Linux kernel or external drbd module source.

Package: drbd8-utils
# build process will override epoch to 2:
Architecture: linux-any
Depends: drbd-utils (>= 8.9.0),
         ${misc:Depends}
Description: transitional dummy package
 This is a transitional dummy package for drbd-utils. It can be removed safely.
