Source: drbd-utils
Section: admin
Priority: extra
Maintainer: DRBD dev <drbd-dev@lists.linbit.com>
Uploaders: Philipp Reisner <philipp.reisner@linbit.com>, Lars Ellenberg <lars.ellenberg@linbit.com>
Build-Depends: debhelper (>= 4), debconf-utils, docbook-xml, docbook-xsl, dpatch, flex, xsltproc
Standards-Version: 3.6.2.1

Package: drbd-utils
Architecture: any
Section: admin
Depends: debconf | debconf-2.0, ${shlibs:Depends}
Conflicts: drbd8-utils
Provides: drbd8-utils, drbd-utils (=9.0.0pre9-1)
Replaces: drbd8-utils, drbd
Suggests: heartbeat
Description: RAID 1 over tcp/ip for Linux utilities
 DRBD is a block device which is designed to build high availability
 clusters by providing a virtual shared device which keeps disks in
 nodes synchronised using TCP/IP. This simulates RAID 1 but avoiding
 the use of uncommon hardware (shared SCSI buses or Fibre Channel).
 It is currently limited to fail-over HA clusters.
 .
 This package contains the programs that will control the DRBD kernel
 module provided in drbd-source. You will need a clustering service
 (such as heartbeat) to fully implement it.
 .
 Homepage: http://www.drbd.org
