#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

PKG_VERSION=$(shell dpkg-parsechangelog | awk '/^Version:/ { print $$2 }')

%:
	dh $@ --with bash-completion

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/drbd-utils.drbd.init

configure_with = --prefix=/usr --localstatedir=/var --sysconfdir=/etc \
		--sbindir=/usr/sbin --with-udev \
		--with-pacemaker --without-bashcompletion \
		--with-systemdunitdir=/lib/systemd/system \
		--with-initscripttype=systemd

ifeq (,$(filter noprebuiltman,$(DEB_BUILD_OPTIONS)))
configure_with += --with-prebuiltman
endif

ifneq (,$(filter coverage,$(DEB_BUILD_OPTIONS)))
configure_with += --enable-coverage=package
endif

override_dh_auto_configure:
	./configure $(configure_with)

override_dh_auto_install:
	dh_auto_install --destdir debian/drbd-utils

override_dh_install:
	dh_install
	# Place the initscript where dh_installinit can find it
	-mv $(CURDIR)/debian/drbd-utils/etc/init.d/drbd $(CURDIR)/debian/drbd-utils.drbd.init

# do not stop/restart/start the sysv init script;
# no reason to reconfigure the kernel just because we install/upgrade some tools
override_dh_installinit:
	dh_installinit -p drbd-utils --name=drbd \
		--no-stop-on-upgrade --no-start

# systemd: do not enable drbd.service (users opt in, or use per-resource drbd@.target)
# do not start/restart/stop any service on install/upgrade
# (drbd-graceful-down and drbd-graceful-disconnect are triggered by udev;
# stopping them would take DRBD resources down)
# drbd-configured.target is enabled but not started.
# Note: --no-start alone is not enough. With debhelper 13 the units are
# still stopped on upgrade (in preinst) unless --no-stop-on-upgrade is given;
# with debhelper 12 (focal) they are still restarted after the upgrade (in
# postinst) unless --no-restart-after-upgrade is given as well. Units are
# named explicitly; the template units have nothing to enable or start.
dh_installsystemd_opts = --no-start --no-stop-on-upgrade --no-restart-after-upgrade
override_dh_installsystemd:
	dh_installsystemd -p drbd-utils $(dh_installsystemd_opts) --no-enable drbd.service
	dh_installsystemd -p drbd-utils $(dh_installsystemd_opts) \
		drbd-graceful-down.service drbd-graceful-disconnect.service
	dh_installsystemd -p drbd-utils $(dh_installsystemd_opts) drbd-configured.target

override_dh_gencontrol:
	dh_gencontrol -Ndrbd8-utils
	# Add the previous epoch to drbd8-utils
	dh_gencontrol -pdrbd8-utils -- -v2:$(PKG_VERSION)

.PHONY: override_dh_auto_configure override_dh_install \
	override_dh_auto_clean override_dh_installinit \
	override_dh_installsystemd override_dh_gencontrol override_dh_auto_install
