[Unit]
Description=DRBD %i Wait Promotable
Requires=drbd@%i.service
After=drbd@%i.service
Before=drbd@%i.target

[Service]
SyslogIdentifier=drbd-%I
Type=oneshot

# on first start, wait for access to "good data"
# let systemd handle timeouts
ExecStart=/lib/drbd/scripts/drbd-wait-promotable.sh %I
RemainAfterExit=yes

[Install]
RequiredBy=drbd@%i.target
