[Unit]
Description=Promotion of DRBD resource %I
PartOf=drbd-services@%i.target

Requires=drbd@%i.target
After=drbd@%i.target

[Service]
SyslogIdentifier=drbd-%I
# Note: oneshot cannot "Restart"
# If we would need to have systemd retry failed stops,
# this needs to get more involved.
# Maybe we rather want "something else" (a timer?)
# periodically try to "garbage collect" failed stops?
Type=oneshot
RemainAfterExit=yes

# (ab)using systemd features
# if we cannot configure and promote, that's a condition, not a failure
ExecCondition=/lib/drbd/scripts/drbd-service-shim.sh primary %I

ExecStop=/lib/drbd/scripts/drbd-service-shim.sh secondary %I
