[Unit]
Description=DBRD %I configured
Documentation=man:drbd@.target(7)
After=network-online.target nss-lookup.target
Requires=drbd@%i.service

[Install]
WantedBy=multi-user.target
