[Unit]
Description=Wrapper for OCF Resource Agent Instance: %I

[Service]
Type=notify
Restart=always

Environment=OCF_ROOT=/usr/lib/ocf
Environment=OCF_RESOURCE_INSTANCE=%i
Environment=monitor_inverval=30

# To be instantiated with an override.conf
# containing AGENT and OCF_RESKEY_* parameters:
#   [Service]
#   Environment=AGENT=/usr/lib/ocf/resource.d/heartbeat/IPaddr2
#    ...
#   Environment=OCF_RESKEY_ip=1.2.3.4
#   Environment=OCF_RESKEY_cidr_netmask=28
#   Environment=OCF_RESKEY_nic=eth0
#    ...

# Only the first argument is used by the wrapper,
# the %n is just to identify which is which in the process list.
# All parameterization is done via Environment= in per instance override.conf
ExecStart=/lib/drbd/scripts/ocf.ra.wrapper.sh start-and-monitor %n
ExecStopPost=/lib/drbd/scripts/ocf.ra.wrapper.sh stop %n
